@model DevSmash___Projeto_Final.Models.Entidades.Integrante

@{
    ViewData["Title"] = "Detalhes";
}
@section Scripts{
<script>
    $('document').ready(AlterarMenu(5));
</script>
}

<h1>Details</h1>

<div>
    <h4>Integrante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RedeSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RedeSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sobre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sobre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar para lista</a>
</div>
