@model IEnumerable<DevSmash___Projeto_Final.Models.Entidades.Integrante>
<link rel="stylesheet" href="~/css/EstiloEquipe.css" asp-append-version="true" />
@section Scripts{
<script>
    $('document').ready(AlterarMenu(4));
</script>
}


<body class="is-preload">
    <div id="page-wrapper">
        <section class="wrapper style2">
            <div class="container">
                <div id="content">
                    <article id="body2">
                        <header>
                            <h1>Conheça nosso time</h1>
                            <hr />
                            <br />
                            <br />
                            <p class="p1">
                                Um time diferenciado e capacitado para dar a sua empresa a solução mais
                                criativa e performática do mercado.
                            </p>
                        </header>
                        <br />
                        @foreach (var integrante in Model)
                        {
                            <p>

                                <h2 class="stylenome">@integrante.Nome</h2>
                            <p class="p2">@integrante.Funcao</p>

                            </p>

                            <span class="image featured">
                                <img src="@integrante.Foto"
                                 alt="Integrante" />
                            </span>
                            <h2><a href="@integrante.RedeSocial" class="icon brands fa-linkedin-in" target="_blank"></a></h2>
                            <p class="sobre">@integrante.Sobre</p>
                            <hr />

                        }
                    </article>
                </div>
            </div>
        </section>
    </div>
</body>


