@model DevSmash___Projeto_Final.Models.Entidades.Servico

@{
    ViewData["Title"] = "Detalhes";
}
@section Scripts{
<script>
    $('document').ready(AlterarMenu(5));
</script>
}

<h3>Detalhes</h3>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icone)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagem)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoFront)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoFront)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" style="font-weight:bold">Editar</a> |
    <a asp-action="Index" style="font-weight:bold">Voltar para a lista</a>
</div>
